<div class="s-layout">
    <header class="s-header s-strip">
        <!--a class="sh-buttons" href=""><i class="fa fa-bars"></i></a>
        <a class="sh-buttons" href=""><i class="fa fa-th"></i></a>
        <a class="sh-buttons" href=""><i class="fa fa-cutlery"></i></a-->
        <a class="sh-buttons" href="javascript:void(0)" ng-click="newOrder()"><i class="fa fa-plus"></i></a>
        <a class="sh-buttons" href="#/orders"><i class="fa fa-list-alt"></i></a>

        <div class="pull-right">
        	<a class="sh-buttons sh-parcel" href=""><i class="fa fa-gift"></i></a>
        	<span class="sh-buttons sh-count">{{itemsInOrder.length}}</span>
        </div>
    </header>

    <div class="s-content"> 
        <button class="btn copy-btn btn-default" data-clipboard-text="{{token}}">Copy Token</button>

        <div ng-show="!isProductsLoaded" class="center-block text-center">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>

    	<ul class="s-product-list" ng-show="isProductsLoaded">
    		<li ng-swipe-left="leftSwipe(product)" ng-swipe-right="rightSwipe(product)" class="sp-item" ng-repeat="product in products | filter:{prod_category_id:catid}" >
    			<div class="spl-text-container s-animate" ng-class="namePriceClass(product)" ng-click="addItem(product)">
    				<div class="spl-name">{{product.prod_name}}</div>
    				<div class="spl-price">Rs. {{product.prod_rate}}/-</div>	
                    <div class="spl-button pull-right" >{{product.prod_qty}}</div>  

    			</div>
    			
    			<div class="spl-buttons-container s-animate" ng-show="product.selected">
    				<div class="spl-button instruction" ng-click="openIngredientsModal(product)" ><i class="fa fa-info-circle"></i></div>
    				<div class="spl-button less" ng-click="lessItem(product)" >-</div>
    				<div class="spl-button add" ng-click="addItem(product)" >+</div>	
    				<div class="spl-button pull-right" >{{getProductCount(product)}}</div>	
    			</div>
    			
    		</li>
    	</ul>

    	<div class="s-sidebar" ng-style="drawerStyle">
    		<div class="s-hook" ng-click="toggleDrawer()"></div>

            <div style="height:100%;" ng-include="'templates/order-detail.html'" ></div>
    	</div>
    </div>

    <footer class="s-footer s-strip" ng-hide="sideBarOrderDetailOpen">
    	<div class="sf-left-arrow"><i class="fa fa-arrow-left"></i></div>

    	<ul class="sf-cat-list">
    		<li ng-repeat="cat in categories" ng-click="changeCategory(cat.category_id)" ng-class="(cat.category_id==catid)?'selected':''" class="sf-cat-item">
    			<img src="">
    			<a >{{cat.category_name}}</a>
    		</li>
    	</ul>

    	<div class="sf-right-arrow"><i class="fa fa-arrow-right"></i></div>
    </footer>
</div>
