<div class="orderDetail container">

		<div class="form-control col-md-12 col-xs-12" style="border:0px;height:40px;padding:0px;margin-bottom:5px;">
				<input type="text" class="form-control col-md-2 col-xs-4 sod-cutomer-id" placeholder="ID"
					ng-model="order.customer.custID" typeahead-on-select="onSelectCustomer($item, $model, $label)"
					uib-typeahead="customer.custID for customer in customers | filter:$viewValue | limitTo:8"/>

				<input type="text" class="form-control col-md-10 col-xs-8 sod-cutomer-mobile" placeholder="Mobile"
				ng-model="order.customer.mobile" typeahead-on-select="onSelectCustomer($item, $model, $label)"
				uib-typeahead="customer.mobile for customer in customers | filter:$viewValue | limitTo:8"/>
		</div>
		<div class="form-control col-md-12 col-xs-12" style="height:40px;border:0px;margin-bottom:10px;">
				<input type="text" class="form-control col-md-12 col-xs-12 sod-cutomer-name" placeholder="Name"
					ng-model="order.customer.name" typeahead-on-select="onSelectCustomer($item, $model, $label)"
					uib-typeahead="customer.name for customer in customers | filter:$viewValue | limitTo:8"/>
		</div>


		<div class="buttons btn-group">
					<button type="button" class="btn btn-default" ng-click="showSelectedCustomerAddr()"><i class="fa fa-home"></i></button>
		      <button type="button" class="cancelOrder btn btn-default"><i class="fa fa-trash"></i></button>
		      <!--order items are for parcel delivery-->
		      <button type="button" class="btn btn-default" ng-click="parcelOrder()"><i class="fa fa-gift"></i></button>
		      <!--order items are for Dining table delivery-->
		      <button type="button" class="btn btn-default" ng-click="dinningOrder()"><i class="fa fa-hand-o-down"></i></button>
					<button type="button" class="btn btn-default" ng-class="(showDinningTableElement==true)?'active':''"
						ng-click="assignDiningTableNo($event)"><i class="fa fa-table"></i></button>

		      <button type="button" class="btn btn-default" ng-class="(showSchedulerElement==true)?'active':''"
					ng-click="showScheduler($event)"><i class="fa fa-clock-o"></i></button>

				  <button type="button" class="btn btn-default"><i class="fa fa-print"></i></button>

		</div>

		<div class="sod-order-table form-group" ng-show="showOrderDetail">
			<table cellspacing="0" cellpadding="0" border="0" clasa="table table-condensed"><!--class="F cf zt"-->
				<thead>
					<tr>
						<th width="172">Item</th>
				      	<th width="20%" style="text-align:center;">Qty</th>
				      	<th width="20%">Amount</th>
				    </tr>
				</thead>
				<tbody class="scrollable" >
					<tr ng-repeat="(key, product) in order.itemsInOrderMap">
					    <td width="200" class="orderedItemName" >{{ product.prod_name }}- {{product.ingredients.abbr}}</td><!--class="yx"-->
					    <td width="20%" align="center" class="orderedItemQty">{{ product.prod_qty }}</td><!--class="xz"-->
					    <td width="20%" align="right" class="orderedItemAmount">{{ product.prod_qty * product.prod_rate }}</td><!--class="xw"-->
					</tr>
				</tbody>
			  	<tfoot>
			  		<tr><!--class="summary"-->
					  	<td width="200" >Total</td><!--class="total"-->
					  	<td width="20%" style="text-align:center;" class="bigFont totalItemsCount">{{order.itemsInOrder.length}}</td><!--class="xz totalQty"-->
					  	<td width="20%" align="right" class="bigFont totalAmount"><strong>{{order.order_total_amt}}</strong></td><!--class="xw totalAmt"-->
					 </tr>
					 <tr>
					 	<td width="200"> Amount Paid </td>
					 	<td><input type="number" id="order-paid-amt" ng-model="order.paid_amt" class="right-text ng-pristine ng-valid ng-touched" aria-invalid="false" ng-change="balanceAmt()" ></td>
					 </tr>
					  <tr>
					 	<td width="200"> Balance Amount</td>
					 	<td width="20%" align="right" class="bigFont"><strong>
					 	{{order.bal_amt}}</strong></td>
					 </tr>
			  	</tfoot>
			</table>
		</div>
		<!--set order schedule time -->
		<div class="sod-schedule" ng-show="showSchedulerElement && !showOrderDetail">
			<uib-timepicker style="margin:8px auto;" ng-model="order.scheduled_date_time" ng-change="" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
			<pre class="alert alert-info sod-schedule-info" ng-if="order.scheduled_date_time">Schedule at: {{order.scheduled_date_time | date:'shortTime' }}</pre>
		<button ng-click="scheduleOrder()" class="btn btn-primary sod-schedule-btn">Schedule</button>
		</div>

		<!--set table no in case of order delivery mode is dinning-->
		<div class="dinningTableSet" ng-show="showDinningTableElement && !showOrderDetail">
			<div class="row btn-group btn-sm" data-toggle="buttons" ng-repeat="table in tables">
        <div class="col-xs-4 col-sm-1 col-sm-offset-1">
            <button ng-click="selectTable(table)" class="btn btn-default">{{table.no}}</button>
      	</div>
    	</div>
			<button ng-click="assignDiningTableNo()" class="btn btn-primary">Done</button>
		</div>

		<!--show selected customer address details--->
		<div  class="container col-md-12" ng-show="showSelectedCustomerElement && !showOrderDetail">
			<form role="form">
	            <div class="form-group">
	                <label class="user-form-control-heading"  for="bldg">Bldg:</label>
									<span>{{order.customer.bldg|parseJSONObj:'bldgName'}}</span>
	            </div>

							<div class="form-group">
	                <label class="user-form-control-heading" >Bldg Acr:</label>
	                <span>{{order.customer.bldg|parseJSONObj:'bldgAcr'}}</span>
	            </div>


	            <div class="form-group">
	                <label class="user-form-control-heading" >Wing/Plot</label>
	                <span>{{order.customer.bldgWing}}</span>
	            </div>

	            <div class="form-group">
	                <label class="user-form-control-heading" >Room NO./Shop No.</label>
	                <span>{{order.customer.bldgRoomNo}}</span>
	            </div>

	            <div class="form-group">
	                <label class="user-form-control-heading" >Landmark/Near To:</label>
	                <span ng-show="mode=='view'">{{order.customer.landmark}}</span>
	            </div>
	     </form>
		</div>

		<div class="orderBtnsContainer2" ng-show="showOrderDetail"><!--ng-hide="showSchedulerElement || showDinningTableElement || showCreateOrderOptions-->

			<a ng-click="validateOrderSave('CREATE')" class="btn btn-success btn-lg btn-block" id="createOrderBtn">Create Order</a>
			<a ng-click="propmptCancelOrder()" class="btn btn-danger btn-lg btn-block">Cancel</a>


		 	<!--<a ng-click="submitOrder()" class="btn btn-success btn-md btn-block ">Paid</a>-->
		</div>
</div>
