.row.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.s-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header.s-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    z-index: 3;
}

footer.s-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    overflow: hidden;
    z-index: 2;
    
}

.sf-left-arrow,
.sf-right-arrow {
    position: absolute;
    color: white;
    left: 0px;
    width: 10%;
    top: 0;
    text-align: center;
    padding: 15px 0;
}

.sf-right-arrow {
    right: 0px;
    left: auto;
}

.sf-cat-list {
    position: absolute;
    overflow: auto;
    margin: 0 10%;
    padding: 0;
    left: 0;
    width: auto;
    right: 0px;
    white-space: nowrap;
}

.sf-cat-item {
    display: inline-block;
    /* padding: 10px; */
    margin-top: 3px;
    min-width: 140px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 3px;
}

.sf-cat-item a {
    color: #fff;
    display: inline-block;
    padding: 10px;
    font-size: 1em;
    border-left: 1px solid #fff;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.sf-cat-item a:hover, .sf-cat-item.selected a{
    background-color: orange;
    color: #000;
    text-decoration: none;
}

.s-strip {
    background-color: #f00;
    /* width: 53%; */
}

.sh-buttons {
    color: #fff !important;
    font-size: 2em;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    float: left;
}

.sh-parcel {
    background-color: #A0C349;
    margin-right: -4px;
}

.sh-count {
    background-color: #F7C812;
    /* font-size: 1em; */
}

.s-content {
    position: absolute;
    top: 60px;
    bottom: 0px;
    right: 10px;
    left: 10px;
    overflow-y: auto;
    z-index: 1;
}

.order-list-content {
    top: -30px;
}

ul.s-product-list {
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

li.sp-item {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #A7C73B;
    position: relative;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    height: 120px;
    box-sizing: border-box;
    position: relative;
}

li.sp-item .spl-name {
    color: #1D298B;
    float: left;
    width: 50%;
}

li.sp-item .spl-price {
    color: #EC004E;
    float: right;
    width: 22%;
    margin-left: 2%;
}

.spl-button {
    padding-top: 3px;
    font-size: 30px;
    background-color: rgb(133, 175, 255);
    height: 100%;
    text-align: center;
    color: white;
    width: 25%;
    opacity: 1;
    float: right;
    /* margin-top: -10px; */
    transition: all ease-out 1s;
}

.spl-button.add {
    background-color: #A0C349;
}

.spl-button.less {
    background: red;
}

.spl-button.instruction {
    background-color: #F7C812
}

.s-animate {
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

.spl-buttons-container.ng-hide {
    opacity: 0;
}

.s-sidebar {
    position: fixed;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    top: 50px;
    bottom: 0;
    z-index: 1;
    right: 0;
    left: 0px;
    padding: 6px;
    max-height: 700px;
    width: 320px;
    height: 100%;
}

.s-sidebar .s-hook {
    margin-left: -25px;
    width: 20px;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    z-index: 3;
}

.spl-text-container {
    /* position: absolute; */
    float: left;
    width: 100%;
    height: 50%;
    padding: 5px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.spl-text-container.selected {
    /* margin-left: -65%; */
    background-color: rgba(0, 0, 0, .1);
}

.spl-buttons-container {
    float: right;
    /* width: 65%; */
    height: 50%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.spl-calc-btn {
    /* background-color: transparent; */
    /* color: #000; */
    /* border: 1px solid; */
}

.orderDetail {
    background-color: white;
    padding: 8px;
    /* border: solid 1px black; */
    height: 89%;
    position: relative;
    width: 100%;
}

.orderDetail > .title{

}

.orderDetail > .buttons{
    
}

.sod-order-table{
    position: absolute;
    bottom: 90px;
    top: 90px;
    border: 1px solid;
    left: 0;
    right: 0;
}
.sod-order-table > table{
    padding: 0;
    margin: 0;
}



.sod-order-table > table > thead{
    position: absolute !important;
    left: 0px;
    right: 0;
}

.sod-order-table > table > tbody{
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: 10px;
    left: 0;
    overflow: auto;
}

.sod-order-table > table > tfoot{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 10px;
}

.sod-order-table > table tr{
    display: block;
    width: 100%;   
}

.orderDetail.customerTokenNum {
    border: 1px solid #3f50b4;
    padding: 5px;
    background: #3f50b4;
    width: 40px;
    border-radius: 0px;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.itemsOrderedCount {
    width: 50%;
    float: left;
}

.orderDateTimeContainer {
    width: 50%;
    float: left;
}

#orderBtnsContainer {
    width: 100%;
    text-align: center;
}

.orderBtn {
    display: inline-block;
}

.orderBtnsContainer2 {
    text-align: center;
    bottom: 10px;
    position: absolute;
    width: 100%


;
}

.F {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
}

.cf {
    border-collapse: collapse;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    margin: 8px;
}

.x7 {
    color: #000000;
    background: #ffffff;
}

.yO {
    background: #ffffff;
    color: #000000;
}

.zA {
    color: #000000;
    cursor: pointer;
    padding: 4 1ex;
}

tr {
    /* display: table-row; */
    /* vertical-align: inherit; */
    /* border-color: inherit; */
}

td.yX {
    padding-right: 6px;
    padding-left: 10px;
    color: #ff0000;
}

td.xw {
    padding-right: : 20px;
}

td.xz {}

tr.summary {
    color: #ff0000;
    font-size: : 14px;
    border: solid 1px #999999;
    height: 30px;
    vertical-align: bottom;
}

.ol-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.ol-header,
.ol-order-listing {
    position: absolute;
}

.ol-order-listing {
    bottom: 0;
    left: 0;
    right: 0;
    top: 90px;
}

.ol-search-order {
    float: none;
    margin: 0 auto;
}

.gridListdemoBasicUsage md-grid-tile {}

.ol-grid-tile-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ol-grid-tile-main > header {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2em;
    height: 30px;
    right: 0;
    background-color: #FDE;
}

.ol-grid-tile-main > div.ol-tile-content {
    position: absolute;
    top: 30px;
    bottom: 30px;
    overflow: auto;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.ol-grid-tile-main > footer {
    position: absolute;
    bottom: 0;
    height: 25px;
    right: 0;
    left: 0;
    padding: 0 5px;
    background-color: #fde;
    border-top: 1px solid grey;
}

.ol-grid-tile-main > footer.isOpen {
    height: auto !important;
    top: 0;
    border-top: none;
}

.ol-item-name {
    color: red;
}

.ol-item-name > span {
    color: black;
    display: block;
}

.ol-order-token {
    background-color: #f0f;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 3px;
    color: #fff;
    width: 30px;
}

.ol-order-name {
    overflow: hidden;
    margin-left: 10px;
}

.hide-bg {
    background-color: #fff !important;
}

.ol-table {
    margin-left: 0;
    margin-right: 0;
}

.s-header .s-toggle-switch {
    color: #fff;
    font-weight: bold;
}

.s-header .s-toggle-switch {
    color: #fff;
    font-weight: bold;
}

.s-header .s-toggle-switch.md-checked .md-thumb {
    background-color: #F7C812;
}

.s-header .s-toggle-switch.md-checked .md-bar {
    background-color: #0F0;
}

.sol-up-angle {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
    color: grey;
}

.sol-up-angle .fa.fa-angle-up {
    display: block;
    /* margin-top: -3px !important; */
}

.ol-grid-tile-main > footer .sol-up-angle .fa.fa-angle-down {
    display: none;
}

.ol-grid-tile-main > footer.isOpen .sol-up-angle .fa.fa-angle-down {
    display: block;
}

.ol-grid-tile-main > footer.isOpen .sol-up-angle .fa.fa-angle-up {
    display: none;
}

.ol-grid-tile-main > footer .sol-additional-opts {
    display: none;
}

.ol-grid-tile-main > footer.isOpen .sol-additional-opts {
    display: block;
}

.sol-additional-opts {
    margin-top: 10px;
}


.sol-additional-opts ul li, .sol-additional-opts ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

tbody.scrollable{
}
tbody.scrollable > tr{
    width: 100%;
}

.sod-cutomer-name{
    margin-bottom: 10px;
    width: 50%;
}

.sim-pr-qty{
    margin: 0;padding: 0;
}


.sim-pr-qty li{
    list-style: none;
    display: inline-block;
    border: 1px solid;
    border-radius: 24px;
    padding: 11px 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    box-sizing: border-box;
    margin-top: 5px;
}



.sim-pr-qty .jain {
    background-color: #de0000;
}

.sim-pr-qty .mix {
    background-color: #af0063;
}

.sim-pr-qty .halfjain {
    background-color: #cf5e00;
}

.sim-pr-qty li.selected{
    background-color: #85AFFF !important;
}