.s-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header.s-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
}

footer.s-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    overflow: hidden;
}

.sf-left-arrow,
.sf-right-arrow {
    position: absolute;
    color: white;
    left: 0px;
    width: 10%;
    top: 0;
    text-align: center;
    padding: 15px 0;
}

.sf-right-arrow {
    right: 0px;
    left: auto;
}

.sf-cat-list {
    position: absolute;
    overflow: auto;
    margin: 0 10%;
    padding: 0;
    left: 0;
    width: auto;
    right: 0px;
    white-space: nowrap;
}

.sf-cat-item {
    display: inline-block;
    padding: 10px;
}

.sf-cat-item a {
    color: #fff;
}

.s-strip {
    background-color: #f00;
    /* width: 53%; */
}

.sh-buttons {
    color: #fff !important;
    font-size: 2em;
    display: inline-block;
    margin: 0;
    padding: 5px 15px;
}

.sh-parcel {
    background-color: #A0C349;
    margin-right: -4px;
}

.sh-count {
    background-color: #F7C812;
    /* font-size: 1em; */
}

.s-content {
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
    left: 0;
    overflow-y: auto;
}

ul.s-product-list {
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

li.sp-item {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #A7C73B;
    position: relative;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    height: 60px;
    box-sizing: border-box;
}

li.sp-item .spl-name {
    color: #1D298B;
    float: left;
    width: 50%;
}

li.sp-item .spl-price {
    color: #EC004E;
    float: right;
    width: 22%;
    margin-left: 2%;
}

.spl-button {
    padding-top: 3px;
    font-size: 30px;
    background-color: red;
    height: 100%;
    text-align: center;
    color: white;
    width: 25%;
    opacity: 1;
    float: right;
    transition: all ease-out 2s;
}

.spl-button.add{
	background-color: #A0C349;
}

.spl-button.less{
	
}

.spl-button.instruction{
	background-color: #F7C812
}

.s-animate {
  -webkit-transition:all ease-out 0.2s;
  transition:all ease-out 0.2s;
}

.spl-buttons-container.ng-hide {
  opacity:0;
}



.s-sidebar {
    position: fixed;
    border: 1px solid #000000;
    background-color: #ffffff;
    top: 50px;
    bottom: 0;
    z-index: 1;
    right: 0;
    /* right: -430px; */
    left: 0px;
    padding:6px;
    max-height: 700px;
}



.s-sidebar .s-hook {
    margin-left: -20px;
    width: 20px;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
    top: 50%;
    position: absolute;
    margin-top: -25px;
}

.spl-text-container{
	float: left;
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-left: 0;
	background-color: rgba(0,0,0,0);
}

.spl-text-container.selected{
	margin-left: -65%;
	background-color: rgba(0,0,0,.5);
}

.spl-buttons-container{
    float: right;
    width: 65%;
    height: 100%;
    text-align: right;
}



.spl-calc-btn{
	/* background-color: transparent; */
	
	/* color: #000; */
	/* border: 1px solid; */
}


.orderDetail{
    background-color: white;
    padding: 8px;
    border: solid 1px black;
    height: 100%;

}

.orderDetail.customerTokenNum
{
    border: 1px solid #3f50b4;
    padding: 5px; 
    background: #3f50b4;
    width: 40px;
    border-radius: 0px;
    border-top-left-radius:2em;
    border-bottom-left-radius:2em;
}

.itemsOrderedCount{
    width:50%;
    float:left;
}

.orderDateTimeContainer
{
    width:50%;
    float:left;
}

#orderBtnsContainer
{
    width:100%;
    text-align: center;
}    

.orderBtn
{
    display: inline-block;
}

.orderBtnsContainer2
{
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 100%
}

.F
{
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
}

.cf {
    border-collapse: collapse;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    margin: 8px;
}

.x7 {
    color: #000000;
    background: #ffffff;
}

.yO {
    background: #ffffff;
    color: #000000;
}

.zA {
    color: #000000;
    cursor: pointer;
    padding: 4 1ex;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td.yX {
    padding-right: 6px;
    padding-left: 10px;
    color:#ff0000;
}

td.xw{
    padding-right: :20px;
}

td.xz{

}

tr.summary 
{
    color:#ff0000;
    font-size: :14px;
    border: solid 1px #999999;
    height: 30px;
    vertical-align: bottom;

}

.ol-main{
    position: relative;
    width: 100%;
    height: 100%;
}


.ol-header, .ol-order-listing{
    position: absolute;
    
}

.ol-order-listing{
    bottom: 0;
    left: 0;
    right: 0;
    top: 90px;
}

.ol-search-order{
    float: none;
    margin: 0 auto;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}

