<div class="s-layout">
    <header class="s-header s-strip">
        <a class="sh-buttons" href=""><i class="fa fa-bars"></i></a>
        <a class="sh-buttons" href=""><i class="fa fa-th"></i></a>
        <a class="sh-buttons" href=""><i class="fa fa-cutlery"></i></a>
        <div class="pull-right">
            <a class="sh-buttons sh-parcel" href=""><i class="fa fa-gift"></i></a>
            <span class="sh-buttons sh-count">{{itemsInOrder.length}}</span>
        </div>
    </header>
    <div class="s-content order-list-content">
        <div class="ol-main">
            <div class="ol-order-listing">
                <div class="gridListdemoBasicUsage">
                    <md-content>
                        <md-grid-list md-cols-gt-md="12" md-cols-sm="1" md-cols-md="9" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-gt-sm="16px" md-gutter="16px">
                            <md-grid-tile ng-repeat="order in orderlist" ng-style="{
			            'border': '1px solid #f00'
			          }" class="ol-sheet" md-colspan-gt-sm="3" md-rowspan-gt-sm="3">
                                <div class="ol-grid-tile-main" ng-controller="OrderGridCtrl">

                                    <header class="row no-gutters">
                                        <span class="col-xs-1 ol-order-token">{{order.token}}</span>
                                        <span class="col-xs-9 ol-order-name">{{order.name}}</span>
                                        
                                        <span class="col-xs-1">6</span>
                                        <span ng-click="showParcel()" class="col-xs-1 pull-right"><i class="fa fa-gift"></i></span>
                                    </header>
                                    <div class="ol-tile-content">
                                        <table class="table table-condensed">
                                            <tr ng-repeat="item in order.items" ng-class="(isShowingParcel)? '': 'hide-bg'" ng-style="getRowStyle(item)">
                                                <td>{{item.quantity}}</td>
                                                <td class="ol-item-name">{{item.name}}
                                                    <span>{{item.desc}}</span>
                                                </td>
                                                <td>{{item.amount}}/-</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <footer>
                                        <span><i class="fa fa-clock-o"></i></span>
                                        <span am-time-ago="order.time"></span>
                                        <span class="pull-right">111</span>
                                    </footer>
                                </div>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
    <footer class="s-footer s-strip">
    </footer>
</div>
