<div class="orderDetail container">
		<input type="text" class="form-control col-md-6 col-xs-6 sod-cutomer-name" placeholder="Mobile" ng-model="order.customer.mobile" typeahead-on-select="onSelectCustomer($item, $model, $label)" uib-typeahead="customer.mobile for customer in customers | filter:$viewValue | limitTo:8"/>
		<input type="text" class="form-control col-md-6 col-xs-6 sod-cutomer-name" placeholder="Name" ng-model="order.customer.name" typeahead-on-select="onSelectCustomer($item, $model, $label)" uib-typeahead="customer.name for customer in customers | filter:$viewValue | limitTo:8"/>
		<div class="buttons btn-group">
		      <button type="button" class="cancelOrder btn btn-default"><i class="fa fa-trash"></i></button>
		      <!--order items are for parcel delivery-->
		      <button type="button" class="btn btn-default" ng-click="parcelOrder()"><i class="fa fa-gift"></i></button>
		      <!--order items are for Dining table delivery-->
		      <button type="button" class="btn btn-default" ng-click="dinningOrder()"><i class="fa fa-hand-o-down"></i></button>
		      <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
		      <button type="button" class="btn btn-default"><i class="fa fa-print"></i></button>

		</div>
	
		<div class="sod-order-table form-group">
			<table cellspacing="0" cellpadding="0" border="0" clasa="table table-condensed"><!--class="F cf zt"-->
				<thead>
					<tr>
						<th width="172">Item</th>
				      	<th width="20%" style="text-align:center;">Qty</th>
				      	<th width="20%">Amount</th>
				    </tr>
				</thead>
				<tbody class="scrollable" >
					<tr ng-repeat="(key, product) in order.itemsInOrderMap">
					    <td width="200" class="orderedItemName" >{{ product.prod_name }}</td><!--class="yx"-->
					    <td width="20%" align="center" class="orderedItemQty">{{ product.prod_qty }}</td><!--class="xz"-->
					    <td width="20%" align="right" class="orderedItemAmount">{{ product.prod_qty * product.prod_rate }}</td><!--class="xw"-->
					</tr>
				</tbody>	
			  	<tfoot>
			  		<tr><!--class="summary"-->
					  	<td width="200" >Total</td><!--class="total"-->
					  	<td width="20%" style="text-align:center;" class="bigFont totalItemsCount">{{order.itemsInOrder.length}}</td><!--class="xz totalQty"-->
					  	<td width="20%" align="right" class="bigFont totalAmount"><strong>{{order.order_total_amt}}</strong></td><!--class="xw totalAmt"-->
					 </tr>
					 <tr>
					 	<td width="200"> Amount Paid </td>
					 	<td><input type="number" id="order-paid-amt" ng-model="transaction.paid_amt" class="right-text ng-pristine ng-valid ng-touched" aria-invalid="false" ng-change="balanceAmt()" ></td>
					 </tr>		
					  <tr>
					 	<td width="200"> Balance Amount</td>
					 	<td width="20%" align="right" class="bigFont"><strong>
					 	{{transaction.bal_amt}}</strong></td>
					 </tr>		
			  	</tfoot>
			</table>			

		</div>

		<div class="orderBtnsContainer2">

			<a ng-click="validateOrderSave('CREATE')" class="btn btn-success btn-lg btn-block">Create Order</a>
			<a ng-click="propmptCancelOrder()" class="btn btn-danger btn-lg btn-block">Cancel</a>

			
		 	<!--<a ng-click="submitOrder()" class="btn btn-success btn-md btn-block ">Paid</a>-->
		</div>
</div>
