<div class="orderDetail container" ><!--ng-controller="OrderCtrl"-->
	<form id="orderForm" role="form">


		 <div class="form-group">
			  <input class="customerName" id="custNameAutoComplete" ng-model="order.customer.cust_first_name"  type="text" 
			  placeholder="Search Customer..."><!--typeahead="customer as customer.cust_first_name for customer in customers | filter:$viewValue | limitTo:8"-->
		 </div>
		
		<div ng-show="false">{{order.customer.cust_id}}</div>
		
		<div class="customerTokenNum">{{order.order_token_no}}</div>
		
		<div class="form-group">
    		 <span class="label label-default glyphicon glyphicon-mobile">{{order.customer.contact1}}</span>
    	</div>

    	<div class="form-group">
     		<span class="glyphicon glyphicon-search">{{order.customer.address}}</span>
   		 </div>

   		 <div class="form-group">
	        <div style="float:left">
	          <button type="button" class="btn btn-primary">T<span class="badge">{{order.itemsInOrder.length}}</span></button>  
	        </div>

	        <div class='input-group date' id='orderDateTime'>
	          <input type='text' class="form-control" />
	          <span class="input-group-addon">
	              <span class="glyphicon glyphicon-calendar"></span>
	          </span>
	        </div>
	    </div>

		
		 <div class="btn-group btn-group-justified">
		      <button type="button" class="cancelOrder btn btn-danger btn-sm">
		        <span class="glyphicon glyphicon-trash"></span>
		      </button>
		      <button type="button" class="btn btn-primary">1</button>
		      <button type="button" class="btn btn-primary">2</button>
		      <button type="button" class="btn btn-primary">3</button>
		      <button type="button" class="btn btn-primary">4</button>
		</div>
	
		<div class="form-group">
			<table clasa="table table-condensed table-bordered"><!--class="F cf zt"-->
				<thead>
					<tr>
						<th>Item</th>
				      	<th>Qty</th>
				      	<th>Amount</th>
				    </tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in order.itemsInOrder track by $index" class="zA yO x7" tabIndex="-1">
					    <td >{{ x.prod_name }}</td><!--class="yx"-->
					    <td >{{ x.OP_QUANTITY }}</td><!--class="xz"-->
					    <td >{{ x.OP_QUANTITY*x.prod_rate }}</td><!--class="xw"-->
					  </tr>
				</tbody>	
			  	<tfoot>
			  		<tr ><!--class="summary"-->
					  	<td >Total</td><!--class="total"-->
					  	<td >{{order.itemsInOrder.length}}</td><!--class="xz totalQty"-->
					  	<td >{{order.order_total_amt}}</td><!--class="xw totalAmt"-->
					 </tr>		
			  	</tfoot>
			</table>			

		</div>

		<div class="orderBtnsContainer2">
			<a ng-click="payOrder()" href="#/payOrder" class="btn btn-danger btn-lg btn-block">Pay Now <span class="glyphicon glyphicons-money" aria-hidden="true"></span>	

		 	<a ng-click="submitOrder()" class="btn btn-success btn-md btn-block ">Order <span 
		 	class="glyphicon glyphicons-money" aria-hidden="true"></span>	<!--disabled-->
		</div>
	</form>
</div>
