<div class="orderDetail container">
		<input type="text" class="form-control sod-cutomer-name" placeholder="Customer Name" ng-model="order.customer_name" />
		<div class="buttons btn-group">
		      <button type="button" class="cancelOrder btn btn-default"><i class="fa fa-trash"></i></button>
		      <button type="button" class="btn btn-default"><i class="fa fa-gift"></i></button>
		      <button type="button" class="btn btn-default"><i class="fa fa-hand-o-down"></i></button>
		      <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
		</div>
	
		<div class="sod-order-table form-group">
			<table cellspacing="0" cellpadding="0" border="0" clasa="table table-condensed"><!--class="F cf zt"-->
				<thead>
					<tr>
						<th width="200">Item</th>
				      	<th width="20%" style="text-align:center;">Qty</th>
				      	<th width="20%">Amount</th>
				    </tr>
				</thead>
				<tbody class="scrollable" >
					<tr ng-repeat="(key, product) in order.itemsInOrderMap">
					    <td width="200" >{{ product.prod_name }}</td><!--class="yx"-->
					    <td width="20%" align="center">{{ product.prod_qty }}</td><!--class="xz"-->
					    <td width="20%" align="right">{{ product.prod_qty * product.prod_rate }}</td><!--class="xw"-->
					</tr>
					<tr>
					    <td >&nbsp;</td>
					    <td >&nbsp;</td>
					    <td >&nbsp;</td>
					</tr>
				</tbody>	
			  	<tfoot>
			  		<tr ><!--class="summary"-->
					  	<td width="200" >Total</td><!--class="total"-->
					  	<td width="20%" style="text-align:center;">{{}}</td><!--class="xz totalQty"-->
					  	<td width="20%" align="right">{{order.order_total_amt}}</td><!--class="xw totalAmt"-->
					 </tr>		
			  	</tfoot>
			</table>			

		</div>

		<div class="orderBtnsContainer2">
			<a ng-click="createOrder(order)" class="btn btn-danger btn-lg btn-block">Create Order</a>

		 	<a ng-click="submitOrder()" class="btn btn-success btn-md btn-block ">Order </a>
		</div>
</div>
