<div class="s-layout">
    <header class="s-header s-strip">
        <a class="sh-buttons" href=""><i class="fa fa-bars"></i></a>
        <a class="sh-buttons" href=""><i class="fa fa-th"></i></a>
        <a class="sh-buttons" href=""><i class="fa fa-cutlery"></i></a>
        <div class="pull-right">
        	<a class="sh-buttons sh-parcel" href=""><i class="fa fa-gift"></i></a>
        	<span class="sh-buttons sh-count">3</span>
        </div>
    </header>

    <div class="s-content">
    	<ul class="s-product-list">
    		<li class="sp-item">
    			<div class="spl-name">Paneer Tikka Supreme Sandwich</div>
    			<div class="spl-price">Rs. 25/-</div>
    			<div class="spl-button"> + </div>
    		</li>
    	</ul>
    </div>

    <footer class="s-footer s-strip">
    	<div class="sf-left-arrow">Left</div>

    	<ul class="sf-cat-list">
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    		<li class="sf-cat-item">
    			<img src="">
    			<a href="">Sandwiches</a>
    		</li>
    	</ul>

    	<div class="sf-right-arrow">Right</div>


    </footer>
</div>
