<div class="modal-header">
    <h3 class="modal-title" style="display:inline-block;">{{product.prod_name}}</h3>
    <button ng-click="selectAll()" class="btn btn-default pull-right">Select all</button>
</div>
<div class="modal-body">
    <ul class="sim-pr-qty">
        <!--li ng-click="addQty()"> &plus; </li-->
        <li ng-click="itemClick(item)" ng-class="[item.ingredients.type.toLowerCase(), item.iSelected?'selected':'']" ng-repeat="item in order.itemsInOrder | filter:productFilter">{{item.ingredients.abbr}}</li>
        <!--li ng-show="product.prod_qty>1" ng-click="lessQty()"> &minus; </li-->
    </ul>
    <hr/>
    <div class="btn-group" role="group" aria-label="...">
        <button ng-repeat="type in itemTypes" type="button" ng-class="itemTypeBtnClass(type)" ng-click="toggleItemType($event, type)" class="btn btn-default mix">{{type.label}}</button>

        <!--button type="button" ng-click="toggleItemType('MIX', 'M')" class="btn btn-default mix">Mix</button>
        <button type="button" ng-click="toggleItemType('JAIN', 'J')" class="btn btn-default jain">Jain</button>
        <button type="button" ng-click="toggleItemType('HALFJAIN', 'HJ')" class="btn btn-default halfjain">Half Jain</button-->
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="col-md-3">No</div>
                <div class="col-md-3">Less</div>
                <div class="col-md-3">Medium</div>
                <div class="col-md-3 text-right">More</div>
            </div>
        </div>
        <div sauces update-fn="updateSauceges" name="Sweet"></div>
        <div sauces update-fn="updateSauceges" name="Garlic"></div>
        <div sauces update-fn="updateSauceges" name="chilli"></div>
    </div>
    <!--pre>{{product.ingredients.items | json}}</pre-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
